# python -m pip install --upgrade -r requirements.txt
# python -m pip list --outdated

# Warning: faiss-cpu 1.11.0 requires macOS 14 or higher
faiss-cpu==1.10.0
# or faiss-gpu

langchain==0.3.26
langchain-community==0.3.26
langchain-core==0.3.69
langchain-openai==0.3.28
openai==1.97.0
python-dotenv==1.1.1
tiktoken==0.9.0
youtube-transcript-api==1.1.1

# Development/Build
pex==2.46.2
