# python -m pip install --upgrade -r requirements.txt
# python -m pip list --outdated

# Warning: faiss-cpu 1.11.0 requires macOS 14 or higher
faiss-cpu==1.13.2
# or faiss-gpu

langchain-community==0.3.31
langchain-openai==1.1.7
langchain-text-splitters==1.1.0
python-dotenv==1.2.1
youtube-transcript-api==1.2.3

# Development/Build
pex==2.79.0
