faiss-cpu==1.10.0
# or faiss-gpu
langchain==0.3.17
langchain-community==0.3.16
langchain-core==0.3.33
langchain-openai==0.3.3
openai==1.61.0
python-dotenv==1.0.1
tiktoken==0.7.0
youtube-transcript-api
